<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">



	</head>

	<body id="projects">





			<script>

				$(window).load(function () {

					var images = $('#project_slideshow ul li').children();
					var total_images = images.size();
					var current_image = 0;
					var current_thumb = 1;
					var moveBy = 0;

					if (total_images > 12) {
						$('#thumb_nav').fadeIn();
					}

					$('#next').click(function (e) {
						e.preventDefault();
						if (current_image < total_images - 1) {
							moveBy = moveBy + images[current_image].width + 1;
							$("#project_slideshow ul").animate({
								left: -moveBy
							}, (images[current_image].width * 5) / 1.5);
							$("#thumb ul li:nth-child(" + current_thumb + ") a").removeClass('activeSlide');
							current_image++;
							current_thumb++;
							$("#thumb ul li:nth-child(" + current_thumb + ") a").addClass('activeSlide');
						}
					});

					$('#previous').click(function (e) {
						e.preventDefault();
						if (current_image != 0) {
							$("#thumb ul li:nth-child(" + current_thumb + ") a").removeClass('activeSlide');
							current_image--;
							current_thumb--;
							$("#thumb ul li:nth-child(" + current_thumb + ") a").addClass('activeSlide');
							moveBy = moveBy - images[current_image].width - 1;
							$("#project_slideshow ul").animate({
								left: -moveBy
							}, (images[current_image].width * 5) / 1.5);
						}
					});

					var current_thumbs = 12;
					var move_thumbs = 0;

					$('#thumb_nav_next').click(function (e) {
						e.preventDefault();
						if (current_thumbs < total_images - 1) {
							move_thumbs = move_thumbs + 660;
							$("#thumb ul").animate({
								left: -move_thumbs
							}, 1000);
							current_thumbs = current_thumbs + 12;
						}
					});

					$('#thumb_nav_previous').click(function (e) {
						e.preventDefault();
						if (current_thumbs != 12) {
							current_thumbs = current_thumbs - 12;
							move_thumbs = move_thumbs - 660;
							$("#thumb ul").animate({
								left: -move_thumbs
							}, 1000);
						}
					});

					$('#thumb ul li a').click(function (e) {
						e.preventDefault();
						$("#thumb ul li:nth-child(" + current_thumb + ") a").removeClass('activeSlide');
						$(this).addClass('activeSlide');

						selected_image = parseInt($(this).attr('id'));

						if (selected_image > current_image) {
							for (var i = current_image; i < selected_image; i++) {
								moveBy = moveBy + images[i].width;
							}
						} else {
							for (var i = current_image; i > selected_image; i--) {
								moveBy = moveBy - images[i - 1].width;
								if (moveBy < 0) {
									moveBy = 0;
								}
							}
						}

						$("#project_slideshow ul").animate({
							left: -moveBy
						}, 1000);

						current_image = parseInt(selected_image);
						current_thumb = parseInt(selected_image) + 1;

					});

				});
			</script>





			<div class="wrap-thumb">


				<div id="thumb">

					<ul>

						<% if @project.picture.present? %>
						<li>
							<a id="0" class="thumb" href="">
								<%= image_tag @project.picture, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_1.present? %>
						<li>
							<a id="1" class="thumb" href="">
								<%= image_tag @project.project_picture_1, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_2.present? %>
						<li>
							<a id="2" class="thumb" href="">
								<%= image_tag @project.project_picture_2, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_3.present? %>
						<li>
							<a id="3" class="thumb" href="">
								<%= image_tag @project.project_picture_3, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_4.present? %>
						<li>
							<a id="4" class="thumb" href="">
								<%= image_tag @project.project_picture_4, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_5.present? %>
						<li>
							<a id="5" class="thumb" href="">
								<%= image_tag @project.project_picture_5, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_6.present? %>
						<li>
							<a id="6" class="thumb" href="">
								<%= image_tag @project.project_picture_6, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_7.present? %>
						<li>
							<a id="7" class="thumb" href="">
								<%= image_tag @project.project_picture_7, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_8.present? %>
						<li>
							<a id="8" class="thumb" href="">
								<%= image_tag @project.project_picture_8, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_9.present? %>
						<li>
							<a id="9" class="thumb" href="">
								<%= image_tag @project.project_picture_9, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_10.present? %>
						<li>
							<a id="10" class="thumb" href="">
								<%= image_tag @project.project_picture_10, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_11.present? %>
						<li>
							<a id="11" class="thumb" href="">
								<%= image_tag @project.project_picture_11, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
						<% if @project.project_picture_12.present? %>
						<li>
							<a id="12" class="thumb" href="">
								<%= image_tag @project.project_picture_12, class:"img-responsive" %>
							</a>
						</li>
						<% end %>
					</ul>
				</div>

				<div id="thumb_nav">
					<div id="thumb_nav_previous">
						<%= image_tag "thumbsleft.png" %>
					</div>
					<div id="thumb_nav_next">
						<%= image_tag "thumbsright.png" %></div>
				</div>
</div>
				<div id="infos">
					<div id="project-info">
						<small>
							<p>
								<strong><%= raw(@project.name) %></strong>
							</p>

						<p>
							<%= raw(@project.location) %>
						</p>
						<p>
							<%= raw(@project.status) %>
						</p>


						<div id="more_info">
							<p>
								<a href="" data-toggle="modal" data-target="#project">
									info +</a>
							</p>
						</div>
						</small>
					</div>
				</div>

				<div id="next_project">
					<p>
						<small><%= link_to "next project", @previous  %></small>
					</p>
				</div>

				<div id="previous_project">
					<p>
						<small><%= link_to "previous project", @next %></small>
					</p>
				</div>

				<div class="wrap-project">


				<div id="previous"></div>


				<div id="project_slideshow">


					<ul>

						<% if @project.picture.present? %>

						<li><%= image_tag @project.picture %></li>
						<% end %>
						<% if @project.project_picture_1.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_1, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_2.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_2, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_3.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_3, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_4.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_4, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_5.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_5, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_6.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_6, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_7.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_7, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_8.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_8, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_9.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_9, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_10.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_10, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_11.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_11, class:"img-responsive"%></li>
						<% end %>
						<% if @project.project_picture_12.present? %>
						<%= image_tag "divider.png" %>
						<li><%= image_tag @project.project_picture_12, class:"img-responsive"%></li>
						<% end %>
					</ul>

				</div>
				<div id="next"></div>
				</div>
				<%= image_tag "selected.png", id:"selected" %>




		<!-- </WRAPPER> -->

		<div id="project" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="row">

						<div class="col-sm-8">
							<p>
								<strong><%= raw(@project.name) %></strong>
							</p>

							<%= raw(@project.location) %>
							<%= raw(@project.description) %>
						</div>
						<div class="col-sm-4">
							<%= raw(@project.size) %>
							<%= raw(@project.structure_type) %>
							<%= raw(@project.status) %>

						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="footer">
			<p></p>
		</div>



	</body>
</html>
