<!DOCTYPE html>
<html>
  <head>
    <title>Architecture for the modern world</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

    <div id="loader">
        <div class="icon">
            <ul class="flex-container">
                <li>
                    <span class="load1"></span>
                </li>
            </ul>
        </div>
    </div>

    <% if current_user %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>

    <% end %>


    <body id="home">
      <div class="wrapper">


      <div id="content">



        <script>
          $(function(){
            $('div.menu ul li ul li a.section').click(function(e){
              e.preventDefault();
              $(this).next('div').slideToggle();
              $(this).addClass('active');
            });
          });
        </script>


    <div id="nav">

      <div class="wrap-logo">
        <div class="menu logo">
          <%= link_to root_path do %>
          <%= image_tag "HADblack.png", class:"HADlogo" %>
          <% end %>
        </div>
      </div>
      <div class="wrap-nav">
        <small>
        <div class="menu">
            <ul>
                <li>
                    <%= link_to "Contact", contact_path %>
                </li>
            </ul>
        </div>

        <div class="menu">
            <ul>
                <li>
                    <%= link_to "Work", projects_path %>
                      <% if Setting.first.categories == true %>
                    <ul>
                        <li style="padding-left: 0px">
                            <a class="section" href="">Commercial</a>
                            <div>
                                <% Project.where(categories: "Commercial").each do |project| %>
                                <p>
                                    <%= link_to project.name, project_path(id: project.id) %>
                                </p>
                                <% end %>
                            </div>
                        </li>
                        <li style="padding-left: 0px">
                            <a class="section" href="">Education</a>
                            <div>
                                <% Project.where(categories: "Education").each do |project| %>
                                <p>
                                    <%= link_to project.name, project_path(id: project.id) %>
                                </p>
                                <% end %>
                            </div>
                        </li>
                        <li style="padding-left: 0px">
                            <a class="section" href="">Residential</a>
                            <div>
                                <% Project.where(categories: "Residential").each do |project| %>
                                <p>
                                    <%= link_to project.name, project_path(id: project.id) %>
                                </p>
                                <% end %>
                            </div>
                        </li>
                        <li style="padding-left: 0px">
                            <a class="section" href="">Hospitality</a>
                            <div>
                                <% Project.where(categories: "Hospitality").each do |project| %>
                                <p>
                                    <%= link_to project.name, project_path(id: project.id) %>
                                </p>
                                <% end %>
                            </div>
                        </li>
                        <li style="padding-left: 0px">
                            <a class="section" href="">Interiors</a>
                            <div>
                                <% Project.where(categories: "Interiors").each do |project| %>
                                <p>
                                    <%= link_to project.name, project_path(id: project.id) %>
                                </p>
                                <% end %>
                            </div>
                        </li>
                        </ul>
                    <% else %>
                    <%= puts Setting.first.categories %>
                    <ul>
                        <% Project.all.each do |project| %>
                        <li style="padding-left: 0px"><%= link_to project.name, project_path(id: project.id) %></li>
                        <% end %>
                    </ul>
                    <% end %>
                </li>
            </ul>
        </div>

        <div class="menu">
            <ul>
                <li>
                    <%= link_to "Studio", about_path %>
                    <ul>
                        <li style="padding-left: 0px">
                            <%= link_to "Biography", about_path %></li>
                        <li style="padding-left: 0px">
                            <%= link_to "News", news_path %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        </small>
</div>


    </div>


<!-- </WRAPPER> -->



<%= yield %>
</div>
<% if current_page?(controller: 'homepage/homepage', action: 'homepage') %>

<div class="contacts">
  <hr>
<div class="contact-text">


<br>
<small>
<p>
<%= raw(@about.contact_name) %>
</p>
<p>
<%= raw(@about.contact_street) %> <%= @about.contact_suite %>
</p>
<p>
  <%= raw(@about.contact_city_state_zip) %>
</p>
<p>
<%= raw(@about.contact_country) %>
</p>
<p>
  <%= raw(@about.contact_telephone) %>
</p>
</small>

<br><br>
</div>
</div>
<% else %>

<% end%>
</div>
</body>
</html>
